name: Build

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: [runs-on, runner=2cpu-linux-x64, 'run-id=${{ github.run_id }}']

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile;
          cd agent-packages;
          yarn install --frozen-lockfile;
          cd ..

      - name: TypeScript trace
        run: ./node_modules/.bin/tsc -p tsconfig.build.json --extendedDiagnostics --generateTrace trace
        env:
          NODE_OPTIONS: --max-old-space-size=6144
        continue-on-error: true

      - name: Upload TypeScript trace
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: ts-trace
          path: trace/

      - name: Build
        run: yarn build
        env:
          NODE_OPTIONS: --max-old-space-size=4096
